* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-snap-type: y mandatory;
}

body {
    color: #fff;
    background-color: #000;
    height: 100vh;
    display: grid;
    place-items: center;
}

.app_videos {
    position: relative;
    height: 750px;
    background-color: #fff;
    overflow: scroll;
    width: 100%;
    max-width: 400px;
    border-radius: 20px;
    scroll-snap-type: y mandatory;
}

.app_videos::-webkit-scrollbar {
    display: none;
}

.app_videos {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.video {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #fff;
    scroll-snap-align: start;
}

.video_player {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.videoHeader {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.videoHeader * {
    padding: 20px;    
}

.videoFooter {
    position: relative;
    bottom: 100px;
    margin-left: 20px;
}

.user_avatar {
    border-radius: 50px;
    width: 50px;
    height: 50px;
}

.videoFooter_text {
    position: absolute;
    bottom: 0;
    color: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 45px;
}

.videoFooter_text h3 {
    margin-left: 10px;
}

.videoFooter_text h3 button {
    color: #fff;
    font-weight: 900;
    text-transform: inherit;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 5px;
}

.videoFooter_ticker {
    width: 60%;
    margin-left: 30px;
    margin-bottom: 20px;
    height: fit-content;
}

.videoFooter_ticker marquee {
    font-size: 12px;
    padding-top: 7px;
    color: #fff;
}

.videoFooter_ticker .material-symbols-outlined {
    position: absolute;
    left: 5px;
    color: #fff;
}

.videoFooter_actions {
    display: flex;
    position: absolute;
    width: 95%;
    color: #fff;
    justify-content: space-between;
}

.videoFooter_actionsLeft .material-symbols-outlined {
    padding: 0 7px;
    font-size: 1.6em;   
}

.videoFooter_actionsRight .material-symbols-outlined {
    font-size: 25px;
}

.videoFooter_actionsRight {
    display: flex;
}

.videoFooter_stat {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.videoFooter_stat p {
    margin-left: 3px;
}
